.wrapper {
  display: flex;
  flex-direction: column;
  width: 640px;
  height: 560px;
  border: 1px solid #000;
}

.header {
  display: flex;
  width: 100%;
  height: 24px;
  border: 1px solid #000;
}

.gap {
  display: flex;
  width: 100%;
  height: 40px;
  border: 1px solid #000;
}

.emotionBox {
  display: flex;
  width: 100%;
  height: 64px;
  border: 1px solid #000;
}

.inputTitle {
  display: flex;
  width: 100%;
  height: 76px;
  border: 1px solid #000;
}

.gapSmall {
  display: flex;
  width: 100%;
  height: 24px;
  border: 1px solid #000;
}

.inputContent {
  display: flex;
  width: 100%;
  height: 156px;
  border: 1px solid #000;
}

.footer {
  display: flex;
  width: 100%;
  height: 48px;
  border: 1px solid #000;
}

