.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Gap 1: 1168 * 32 */
.gap1 {
  width: 1168px;
  height: 32px;
}

/* Filter: 1168 * 48 */
.filter {
  width: 1168px;
  height: 48px;
  display: flex;
  align-items: center;
}

.selectbox {
  width: 120px;
}

/* Gap 2: 1168 * 42 */
.gap2 {
  width: 1168px;
  height: 42px;
}

/* Main: 1168 * auto */
.main {
  width: 1168px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

/* Gap 3: 1168 * 40 */
.gap3 {
  width: 1168px;
  height: 40px;
}

.imageWrapper {
  width: 640px;
  height: 640px;
  border-radius: 24px;
  overflow: hidden;
  background-color: var(--color-gray-20);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
